.section-faq {
  // web-1920
  font-family: "Noto Sans TC", sans-serif;
  padding-bottom: 30px;
  background: #f5e6d3;
  z-index: 2;

  @include breakpoint(sm) {
    margin-top: vwm(8px);
    padding-bottom: 77px;
  }

  .wrap__inner {
    max-width: 1216px;

    @include breakpoint(xl) {
      margin-top: vw(8px);
    }
  }

  //- 裝飾-左
  &--bg-left {
    @include breakpoint(sm) {
      display: none;
    }
    &__pic {
      position: absolute;
      &:nth-child(1) {
        width: px-em(195);
        left: calc(50% - 986px);
        top: 211px;

        @media (max-width: 1440px) {
          width: vw(145px);
          left: calc(50% - #{vw(736px)});
          top: vw(161px);
        }
      }
      &:nth-child(2) {
        width: px-em(127);
        left: calc(50% - 900px);
        top: 90%;
        // z-index: 2;

        @media (max-width: 1440px) {
          width: vw(87px);
          left: calc(50% - #{vw(700px)});
          top: 70%;
        }
      }
    }
  }

  //- 裝飾右
  &--bg-right {
    @include breakpoint(sm) {
      display: none;
    }
    &__pic {
      position: absolute;
      &:nth-child(1) {
        width: px-em(195);
        right: calc(50% - 1010px);
        top: 309px;
        z-index: 2;

        @media (max-width: 1440px) {
          width: vw(135px);
          right: calc(50% - #{vw(750px)});
          top: vw(120px);
        }
      }
      &:nth-child(2) {
        width: px-em(123);
        right: calc(50% - 844px);
        top: 87%;

        @media (max-width: 1440px) {
          width: vw(73px);
          right: calc(50% - #{vw(680px)});
          top: 60%;
        }
      }
    }
  }

  &--box {
    margin-top: 49px;

    @include breakpoint(xl) {
      margin-top: vw(49px);
    }

    @include breakpoint(sm) {
      margin-top: vwm(57px);
    }
  }

  .toggle {
    position: relative;
    background-color: $white;
    border: 2px solid #3c1f11;
    color: #3c1f11;
    line-height: 1.5;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto 24px auto;

    transition:
      background-color 0.25s $cubic,
      opacity 0.25s $cubic;

    @include breakpoint(xl) {
      border-radius: vw(12px);
      margin: 0 auto vw(24px) auto;
    }

    @include breakpoint(sm) {
      border-width: vwm(4.1px);
      border-radius: vwm(29.26px);
      margin: 0 auto vwm(47px) auto;
    }

    @include breakpoint(xs) {
      border-width: 2px;
    }

    &:hover {
      background: #fafafa;
    }

    // faq左外框粗線
    &::before {
      content: "";
      width: 12px;
      height: 100%;
      background-color: #3c1f11;
      display: inline-block;
      position: absolute;

      @include breakpoint(xl) {
        width: vw(12px);
      }

      @include breakpoint(sm) {
        width: vwm(29.26px);
      }
    }

    @include active-hover {
      opacity: 0.8;
    }

    // 選單展開
    &--active {
      background-color: #fafafa;
      transition: 0.4s;

      color: $black;
      @include active-hover {
        opacity: 1;
      }

      .toggle__trigger {
        padding-bottom: 5px;

        @include breakpoint(xl) {
          padding-bottom: vw(5px);
        }

        @include breakpoint(sm) {
          padding-bottom: vwm(30px);
        }

        &-icon {
          top: 19px;

          @include breakpoint(xl) {
            top: vw(19px);
          }
          @include breakpoint(sm) {
            top: vwm(37px);
          }
        }
      }

      .toggle__content {
        padding: 0 70px 21px 100px;

        @include breakpoint(xl) {
          padding: 0 vw(70px) vw(21px) vw(100px);
        }

        @include breakpoint(sm) {
          padding: 0 vwm(98px) vwm(44px) vwm(169px);
        }
      }
    }

    // Q標題
    &__trigger {
      color: #3c1f11;
      font-size: 20px;
      font-weight: 500;
      padding: 19px 70px 19px 50px;
      display: flex;
      align-items: center;

      @include breakpoint(xl) {
        font-size: vw(20px);
        padding: vw(19px) vw(70px) vw(19px) vw(50px);
        align-items: flex-start;
      }

      @include breakpoint(sm) {
        font-size: vwm(32.77px);
        padding: vwm(48px) vwm(141px) vwm(48px) vwm(47px);
        align-items: flex-start;
      }

      &:hover {
        // opacity: 0.8;
        // background: #fafafa;
        // transition: 0.4s;
      }

      &-icon {
        position: absolute;
        font-size: 37px;
        right: 34px;
        top: 16px;

        @include breakpoint(xl) {
          font-size: vw(37px);
          right: vw(34px);
          top: vw(16px);
        }

        @include breakpoint(sm) {
          font-size: vwm(50px);
          right: vwm(44px);
          top: vwm(45px);
        }
      }

      .faq-title {
        display: flex;
        height: 100%;
      }

      .faq-Q {
        display: flex;
        border-right: 1px solid #3c1f11;
        padding-right: 12px;
        margin-right: 12px;

        @include breakpoint(xl) {
          padding-right: vw(12px);
          margin-right: vw(12px);
        }

        @include breakpoint(sm) {
          padding-right: vwm(12px);
          margin-right: vwm(12px);
        }
        // &::after {
        //   content: "";
        //   display: inline-block;
        //   width: 1px;
        //   border: 1px solid #3c1f11;
        //   margin: 0 12px;

        //   @include breakpoint(xl) {
        //     margin: 0 vw(12px);
        //   }

        //   @include breakpoint(sm) {
        //     margin: 0 vwm(24px);
        //   }
        // }
        @include breakpoint(sm) {
          font-size: vwm(40.96px);
          margin-left: vwm(24px);
        }
      }
    }

    // A內容
    &__content {
      color: #4a4a4a;
      font-size: 18px;
      line-height: 1.5;
      padding: 0;
      word-break: break-word;
      padding: 0 70px;

      transition:
        max-height 0.15s $cubic,
        opacity 0.1s $cubic,
        padding 0.15s $cubic;

      @include breakpoint(xl) {
        font-size: vw(18px);
        padding: 0 vw(70px);
      }

      @include breakpoint(sm) {
        font-size: vwm(32.77px);
        padding: 0 20px;
      }

      .toggle--active & {
        padding-bottom: $gap-base-unit * 6;
        opacity: 1;
        transition-delay: 0, 0.05s, 0;
        transition-duration: 0.3s, 0.25s, 0.3s;
      }
    }
  }

  // web中版-1420
  @include breakpoint(xl) {
  }
  // 行動裝置大版Pad-1024
  @include breakpoint(md) {
  }
  // 小網-768
  @include breakpoint(sm) {
  }
}
