.section-mission {
  // web-1920
  padding-top: 70px;
  padding-bottom: 0;
  background: #f0d0b1 url(../images/mission-bg1.svg) no-repeat;
  background-size: 100% auto;
  background-position: top center;
  @include breakpoint(xl) {
    padding-bottom: vw(30px);
  }

  .section-subtitle {
    @include breakpoint(sm) {
      text-align: left;
    }
  }

  &--wrap {
    display: flex;
    justify-content: center;
    padding-top: 65.4px;
    @include breakpoint(xl) {
      padding-top: vw(65.4px);
    }
    @include breakpoint(sm) {
      flex-direction: column;
      align-items: center;
      padding-top: vwm(65.4px);
    }

    &__card {
      width: 350px;
      height: 523px;
      background-color: $white;
      border: 2px #3c1f11 solid;
      border-radius: 60px;
      padding: 40px 35px;
      text-align: center;
      position: relative;
      @include breakpoint(xl) {
        width: vw(350px);
        height: vw(523px);
        border-radius: vw(60px);
        padding: vw(40px) vw(35px);
      }
      @include breakpoint(sm) {
        width: 100%;
        height: vwm(995.33px);
        border: vwm (2px) #3c1f11 solid;
        border-radius: vwm(61.44px);
        padding: vwm(81px) vwm(92px);
        border: vwm(4.1px) #3c1f11 solid;
      }
      @include breakpoint(xs) {
        border: 2px #3c1f11 solid;
      }

      &:nth-child(even) {
        margin: 0 55px;
        @include breakpoint(xl) {
          margin: 0 vw(40px);
        }
        @include breakpoint(sm) {
          margin: vwm(91.92px) 0;
        }
      }
      &:nth-last-child(1) {
        height: 542px;
        @include breakpoint(xl) {
          height: vw(542px);
        }
        @include breakpoint(sm) {
          height: vwm(1048.58px);
        }
      }

      &-content {
        h4 {
          font-size: 24px;
          font-weight: 700;
          color: $color-brown-dark;
          padding-bottom: 20px;
          @include breakpoint(xl) {
            font-size: vw(24px);
            padding-bottom: vw(20px);
          }
          @include breakpoint(sm) {
            font-size: vwm(49.15px);
          }
        }

        img {
          width: 160px;
          padding-top: 20px;
          @include breakpoint(xl) {
            padding-top: vw(20px);
            width: vw(160px);
          }
          @include breakpoint(sm) {
            width: vwm(327.68px);
          }
        }

        p {
          font-size: 20px;
          font-weight: 700;
          color: #0d0d0d;
          line-height: 1.5;
          @include breakpoint(xl) {
            font-size: vw(20px);
          }
          @include breakpoint(sm) {
            font-size: vwm(40.96px);
          }

          span {
            font-size: 15px;
            @include breakpoint(xl) {
              font-size: vw(15px);
            }
            @include breakpoint(sm) {
              font-size: vwm(30.72px);
            }
          }
        }

        a {
          width: 280px;
          height: 75px;
          background-color: $btn-round-fill;
          border-radius: 63px;
          // position: relative;
          position: absolute;
          right: 50%;
          transform: translateX(50%);
          bottom: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include breakpoint(xl) {
            width: vw(260px);
            height: vw(75px);
            border-radius: vw(63px);
            bottom: vw(30px);
          }
          @include breakpoint(sm) {
            width: vwm(587.78px);
            height: auto;
            border-radius: vwm(129.02px);
            bottom: vwm(60px);
            padding: vwm(24.58px);
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 63px;
            background: linear-gradient(310deg, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.3) 55%);
            pointer-events: none;
            box-sizing: border-box;
            z-index: -1;
            @include breakpoint(xl) {
              border-radius: vw(63px);
            }
            @include breakpoint(sm) {
              border-radius: vwm(129.02px);
            }
          }
          &::after {
            content: "";
            width: 99%;
            height: 96%;
            position: absolute;
            top: 2%;
            left: 0.5%;
            border-radius: 63px;
            background: $btn-round-fill;
            pointer-events: none;
            box-sizing: border-box;
            z-index: -1;
            @include breakpoint(xl) {
              border-radius: vw(63px);
            }
            @include breakpoint(sm) {
              border-radius: vwm(129.02px);
            }
          }

          &:hover {
            p {
              color: $btn-round-text;
            }
            .button-arrow {
              background-image: url("../images/login-btnArrow-Y.svg");
            }
          }

          p {
            font-size: 18px;
            font-weight: 700;
            color: $white;
            padding-right: 30px;
            @include breakpoint(xl) {
              font-size: vw(18px);
              padding-right: vw(30px);
            }
            @include breakpoint(sm) {
              font-size: vwm(36.86px);
              padding-right: vwm(30px);
            }
          }

          .button-arrow {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 11px;
            background-image: url(../images/login-btnArrow-W.svg);
            background-size: contain;
            background-repeat: no-repeat;
            animation: slideInOutX 1s infinite;
            @include breakpoint(xl) {
              width: vw(24px);
              height: vw(24px);
            }
            @include breakpoint(sm) {
              width: vwm(49.15px);
              height: vwm(49.15px);
            }
          }
        }
      }

      .mission-seal {
        position: absolute;
        width: 134px;
        top: -45px;
        left: -35px;
        @include breakpoint(xl) {
          width: vw(134px);
          top: vw(-45px);
          left: vw(-35px);
        }
        @include breakpoint(sm) {
          width: vwm(244px);
          top: vwm(-60px);
          left: vwm(-40px);
        }

        p {
          font-size: 20px;
          font-weight: 900;
          color: $white;
          line-height: 1.5;
          position: absolute;
          top: 25%;
          left: 50%;
          transform: translateX(-50%);
          @include breakpoint(xl) {
            font-size: vw(20px);
          }
          @include breakpoint(sm) {
            font-size: vwm(49.15px);
            line-height: 1.2;
            width: 100%;
            top: 22%;
          }
        }
      }
    }
  }
  &--note {
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 7%;
    @include breakpoint(xl) {
      font-size: vw(20px);
      padding-top: vw(5px);
    }
    @include breakpoint(sm) {
      font-size: vwm(40.96px);
      line-height: 1.3;
      padding-top: vwm(45.06px);
      padding-left: 6%;
    }
  }

  &--pattern-left {
    @include breakpoint(sm) {
      display: none;
    }
    &__pic {
      position: absolute;
      z-index: 4;

      &:nth-child(1) {
        width: px-em(70);
        left: calc(50% + #{px-em(265 - (1920/2))});
        top: px-em(150);
      }

      &:nth-child(2) {
        width: px-em(127);
        left: calc(50% + #{px-em(100 - (1920/2))});
        top: px-em(320);
      }

      &:nth-child(3) {
        width: px-em(196);
        left: calc(50% + #{px-em(-60 - (1920/2))});
        top: px-em(520);
        transform: rotate(324deg);
      }

      &:nth-child(4) {
        width: px-em(123);
        left: calc(50% + #{px-em(100 - (1920/2))});
        bottom: px-em(-80);
      }
    }
  }

  &--pattern-right {
    @include breakpoint(sm) {
      display: none;
    }
    &__pic {
      position: absolute;
      z-index: 4;
      &:nth-child(1) {
        width: px-em(315);
        right: calc(50% + #{px-em(-30 - (1920/2))});
        top: px-em(280);
      }
      &:nth-child(2) {
        width: px-em(92);
        right: calc(50% + #{px-em(220 - (1920/2))});
        top: px-em(530);
      }
      &:nth-child(3) {
        width: px-em(170);
        right: calc(50% + #{px-em(-40 - (1920/2))});
        bottom: px-em(-30);
        transform: rotate(320deg);
      }
      &:nth-child(4) {
        width: px-em(101);
        right: calc(50% + #{px-em(235 - (1920/2))});
        bottom: px-em(-90);
      }
    }
  }
}
